user=
password=
host=
port=
dbname=

DATABASE_URL=
REDIS_URL=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
ENVIRONMENT=
DEBUG=
STORAGE_BUCKET_PREFIX=
FRONTEND_URL=
JWT_SECRET_KEY=
CREDENTIAL_ENCRYPTION_KEY=
