user=
password=
host=
port=
dbname=

DATABASE_URL=
SUPABASE_PROJECT_REF=
SUPABASE_JWT_AUDIENCE=
REDIS_URL=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
ENVIRONMENT=
DEBUG=
SUPABASE_SERVICE_ROLE_KEY=
STORAGE_BUCKET_PREFIX=

